# Logs
logs
nohup.out
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt
.DS_Store

# Dependency directory
node_modules
bower_components

#Distribution Directory
dist
cert

package-lock.json
yarn.lock